#holds personal info
.env
views/welcome_email.html
#No need to put online
node_modules/
#uneeded json files also hold somewhat personal info
created_users.json
package-lock.json
#log files
logs/*





