<h1>{{title}}</h1>
{{#if user}}
    <h3>Hello {{user}}!</h3>
    <h5>Let's get some onboardings done</h5>
{{else}}
    <h1>Please Login</h1>
    <p>It seems like you're not logged in right now</p>
    <button onclick="window.location.href = '{{signInUrl}}';">Click here to Log In</button>
{{/if}}