<form method="POST" action="#name">
    <table>
        <tr>
            <td>Site Name</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Site ID</td>
            <td><input type="text" /></td>
        </tr>
    </table>
    <br />
    <button type="submit">SUBMIT</button>
</form>