
<h2>{{title}}</h2>
<img class="loading" src="../images/loading.gif" alt="loading_icon" id="root" />

  <h3 style="color:red;">THIS SECTION IS NOT FINISHED YET IT ON DISPLAYS ONCOMING SUBCONTRACTORS</h3>
  <script>
    $(document).ready(function(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
          if(this.readyState == 4){
            data = this.responseText;
            Create_Table_sub(data);
          }
        }
        xhttp.open("GET", "/onboard/sub/get", true);
        xhttp.send();
      }); 

  </script>
