<p>Hello,</p>
 
<p>Attached are instructions on signing into TekSynap’s Time and Expense system at https://teksynap.unanet.biz/teksynap/action/home. 
    Your username and temporary password are below, at first sign in you will be asked for an authentication number and email to receive verification codes. 
    This will allow you to reset your password in the future.</p>
 
<p>We’ve also attached instructions for creating a timesheet and how to change your password if you forget it. 
    If you have any issues please reach out to support@teksynap.com.</p>
 
<p>Username:Oleg.Gershunskiy.s@teksynap.com</p>
 
<p>PW:<b>[h2|dxY_K+</b></p>
 
 
<p>Thank you,</p>

<table width="600" style="width: 600px !important; border: 0; border-collapse: collapse; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;">
    <tbody><tr>
        <td width="106" style="width: 106px !important; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;">
            <a href="https://www.teksynap.com" target="_blank"><img src="https://www.teksynap.com/email/img/email-logo-106x83.png" alt="TekSynap - Technology Moving at the Speed of Thought" title="TekSynap - Technology Moving at the Speed of Thought" style="width: 106px !important; height: 83px !important; border: 0;" width="106" height="83"></a>
        </td>
        <td width="494" style="color: #444444; width: 494px !important; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;">
            <p style="color: #444444; font-size: 12px; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; margin-bottom: 3px !important; padding-bottom: 0 !important;">
                <span id="user_name" style="color: #002a7f; font-weight: bold; font-size: 14px;">Matt Roger</span> <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span><span id="user_title">Junior Software Developer</span><br>
                <span style="color: #002a7f;">O:</span> 833-780-5900 <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  <span style="color: #002a7f;">D:</span> <span id="phone_number">+1 540-277-5821</span>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  <a id="user_email" style="color: #002a7f !important; text-decoration: none !important;" title="Email Matt Roger" href="mailto:Matt.Roger@teksynap.com">Matt.Roger@teksynap.com</a><br>
                <a style="color: #002a7f !important; text-decoration: none !important;" href="https://www.teksynap.com" title="TekSynap - Technology Moving at the Speed of Thought" target="_blank">www.TekSynap.com</a>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  1900 Oracle Way, Suite 800, Reston VA 20190<br>
                <span style="font-size: 10px;"><strong>CMMI</strong>-SVC L3</span>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span> <span style="font-size: 10px;"><strong>CMMI</strong>-DEV L3</span>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  <span style="font-size: 10px;"><strong>ISO</strong> 9001:2015</span>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  <span style="font-size: 10px;"><strong>ISO</strong> 20000:2011</span>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  <span style="font-size: 10px;"><strong>ISO</strong> 27001:2013</span><br>
            </p>
            <table width="129" style="width: 129px !important; border: 0; border-collapse: collapse; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;">
                <tbody><tr>
                    <td width="43" style="color: #444444; width: 43px !important; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-size: 11px;">
                        <a href="http://www.linkedin.com/company/510820?trk=tyah" title="Connect with TekSynap on LinkedIn" target="_blank"><img src="https://www.teksynap.com/email/img/linkedin.png" alt="Connect with TekSynap on LinkedIn" title="Connect with TekSynap on LinkedIn" style="width: 43px !important; height: 11px !important; border: 0;" width="43" height="11"></a>
                    </td>
                    <td width="22" style="color: #c8c8c8; width: 22px !important; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-size: 11px;">
                          <span style="color: #c8c8c8; font-size: 11px;">&nbsp;|&nbsp;</span>  
                    </td>
                    <td width="64" style="color: #444444; width: 64px !important; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-size: 11px;">
                        <a href="https://www.teksynap.com/teksynap_signatures/Matt_Roger/?vcard=1" title="Save vCard" target="_blank"><img src="https://www.teksynap.com/email/img/save-vcard.png" alt="Save vCard" title="Save vCard" style="width: 64px !important; height: 11px !important; border: 0;" width="64" height="11"></a>
                    </td>			
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>
