body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 15px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  border-radius: 15px;
}

#active {
  background-color: #0099CC;
  border-radius: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th{
  background-color: #808080;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #808080;}

html{
  background-color:#0e0e0e;
  color :#f2f2f2;
}

button{
  background-color: #0099CC;
  border: none;
  color: #f2f2f2;
  border-radius: 15px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0e0e0e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
}


.dropdown-content a {
  float: none;
  color: #f2f2f2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}



.dropdown-content a:hover {
  background-color: #111;
  border-radius: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover{
  background-color: #111;
  border-radius: 15px;
}