<p>Welcome to TekSynap!</p>

<p>Please find the attached TekSynap Employee Orientation for you to review. The presentation will cover a variety of topics.</p>

<p>Your login information for your TekSynap email account will be sent to you by our IT Team. All TekSynap sites utilize the same sign-in credentials including Unanet (timesheet) and ADP (payroll system). Beginning <b><span id="adp_access">Monday, July 27</span></b>, 2020 you will be able to login to ADP by going to the TekSynap Employee Portal https://www.teksynap.com/employee-portal/   and clicking on the "ADP - Employee & Managers" tab. 
We recommend using Mozilla Firefox or Google Chrome when using ADP.</p>

<p>You will complete the onboarding process and benefit enrollment in ADP. Employees can enroll in benefits by navigating to Myself>Benefits>Enrollments.</p>

<p>As part of the onboarding process, you will be asked to complete an online version of the I-9 Form in ADP. Additionally, the I-9 form must be completed within 72 hours of your start date with TekSynap, by <b><span id="i9_complete">July 29th</span></b> Due to your location, you will need to schedule an offsite I-9 verification appointment via Fieldprint. You will receive an email invitation to schedule your I-9 appointment at a Fieldprint location convenient for you.</p>

<p>Because TekSynap utilizes E-Verify, you are required to input your social security number at the time of your Fieldprint Appointment. <b>Please be sure to include your Social Security Number while completing your I9 form at Fieldprint or you will be required to complete this process an additional time.</b> You will need to bring the appropriate I-9 document(s) so you can verify your identity. A list of acceptable documents will appear on page 3 of the attached I-9 form.</p> 

<p><b>If you cannot make an appointment within the 72 hour of your start date period please email hr@teksynap.com and we will assist you with other options.</b></p>

<p>If you have any questions after reviewing the presentation please feel free to reach out.</p> 

Best,


<table width="600" style="width: 600px !important; border: 0; border-collapse: collapse; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;">
    <tbody><tr>
        <td width="106" style="width: 106px !important; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;">
            <a href="https://www.teksynap.com" target="_blank"><img src="https://www.teksynap.com/email/img/email-logo-106x83.png" alt="TekSynap - Technology Moving at the Speed of Thought" title="TekSynap - Technology Moving at the Speed of Thought" style="width: 106px !important; height: 83px !important; border: 0;" width="106" height="83"></a>
        </td>
        <td width="494" style="color: #444444; width: 494px !important; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;">
            <p style="color: #444444; font-size: 12px; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; margin-bottom: 3px !important; padding-bottom: 0 !important;">
                <span id="user_name" style="color: #002a7f; font-weight: bold; font-size: 14px;"></span> <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span><span id="user_title">IT Administrator</span><br>
                <span style="color: #002a7f;">O:</span> 833-780-5900 <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  <span style="color: #002a7f;">D:</span> <span id="phone_number"></span>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  <a id="user_email" style="color: #002a7f !important; text-decoration: none !important;" title="Email Matt Roger" href="mailto:Matt.Roger@teksynap.com">Matt.Roger@teksynap.com</a><br>
                <a style="color: #002a7f !important; text-decoration: none !important;" href="https://www.teksynap.com" title="TekSynap - Technology Moving at the Speed of Thought" target="_blank">www.TekSynap.com</a>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  1900 Oracle Way, Suite 800, Reston VA 20190<br>
                <span style="font-size: 10px;"><strong>CMMI</strong>-SVC L3</span>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span> <span style="font-size: 10px;"><strong>CMMI</strong>-DEV L3</span>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  <span style="font-size: 10px;"><strong>ISO</strong> 9001:2015</span>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  <span style="font-size: 10px;"><strong>ISO</strong> 20000:2011</span>  <span style="color: #c8c8c8;">&nbsp;|&nbsp;</span>  <span style="font-size: 10px;"><strong>ISO</strong> 27001:2013</span><br>
            </p>
            <table width="129" style="width: 129px !important; border: 0; border-collapse: collapse; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;">
                <tbody><tr>
                    <td width="43" style="color: #444444; width: 43px !important; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-size: 11px;">
                        <a href="http://www.linkedin.com/company/510820?trk=tyah" title="Connect with TekSynap on LinkedIn" target="_blank"><img src="https://www.teksynap.com/email/img/linkedin.png" alt="Connect with TekSynap on LinkedIn" title="Connect with TekSynap on LinkedIn" style="width: 43px !important; height: 11px !important; border: 0;" width="43" height="11"></a>
                    </td>
                    <td width="22" style="color: #c8c8c8; width: 22px !important; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-size: 11px;">
                          <span style="color: #c8c8c8; font-size: 11px;">&nbsp;|&nbsp;</span>  
                    </td>
                    <td width="64" style="color: #444444; width: 64px !important; font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; font-size: 11px;">
                        <a href="https://www.teksynap.com/teksynap_signatures/Matt_Roger/?vcard=1" title="Save vCard" target="_blank"><img src="https://www.teksynap.com/email/img/save-vcard.png" alt="Save vCard" title="Save vCard" style="width: 64px !important; height: 11px !important; border: 0;" width="64" height="11"></a>
                    </td>			
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>